@charset "UTF-8";
:root {
  --main-color: linear-gradient(90deg, #247d7d -8.33%, #12abcd 100%);
  --background-color: #0a0c10;
  --sidebar-color: #0a0c10b4;
  --text-color1: #247d7d;
  --text-color2: #ffffff;
  --text-color3: #0a0c10;
  --text-color4: #12abcd;
  --font-style: "Cabin", sans-serif;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  outline: none;
  list-style-type: none;
}

@keyframes rotate-border {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
/* @keyframes logo {
  0% {
    stroke-width: 0;
    stroke-dasharray: 1 100;
    fill: transparent;
  }
  25% {
    stroke-width: 1;
    fill: transparent;
    stroke-dasharray: 100 0;
  }
  60%,
  100% {
    stroke-width: 0.3;
    fill: white;
  }
} */
/* @keyframes loop {
  100% {
    transform: translateX(-100%);
  }
} */

.project-circle {
  stroke-width: 0;
  -webkit-animation: project-btn 8s ease forwards;
  animation: project-btn 8s ease forwards;
  -webkit-animation-delay: 3s;
  animation-delay: 3s;
}

.project-text {
  opacity: 0;
}

@-webkit-keyframes project-btn {
  0% {
    stroke-width: 0;
    stroke-dasharray: 1 100;
  }
  25% {
    stroke-width: 4;
    stroke-dasharray: 100 0;
  }
  60%,
  100% {
    stroke-width: 4;
  }
}

@keyframes project-btn {
  0% {
    stroke-width: 0;
    stroke-dasharray: 1 100;
  }
  25% {
    stroke-width: 4;
    stroke-dasharray: 100 0;
  }
  60%,
  100% {
    stroke-width: 4;
  }
}
button {
  border: 0;
  cursor: pointer;
}

html {
  font-size: 62.5%;
}

html,
body {
  min-width: 478px;
  overflow-x: auto;
}

body {
  font-family: var(--font-style);
  font-size: 1rem;
  background-color: var(--background-color);
}

.container {
  width: 100%;
  max-width: 128rem;
  margin: 0 auto;
  padding: 0 2rem;
}

/* ------------------------------------ MENU -------------------------------- */
/* Tema Dark para a barra de navegação */
.navbar {
  background-color: #222;
  border-color: #080808;
  padding-top: 5px;
}

.navbar-brand {
  padding: 20px;
  height: 15px;
  width: 15px;
}

.navbar,
.navbar .navbar-nav > li > a {
  color: #ddd !important;
}

.navbar .navbar-brand:hover,
.navbar .navbar-nav > li > a:hover {
  color: #fff !important;
}

.navbar-toggle {
  border-color: #333;
}

.icon-bar {
  background-color: #ddd;
}

/* Remover margem do body para evitar sobreposição */
body {
  padding-top: 70px;
}
/* ------------------------------------ FIM MENU -------------------------------- */

#logo-container {
  position: relative;
  width: 200px; /* Ajuste o tamanho conforme necessário */
  height: 200px;
  border-radius: 50%;
}

#logo-container .logo-container-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  display: block;
}

#logo-container::after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  border-bottom: 8px solid white;
  border-radius: 119%;
}

header ul a {
  color: var(--text-color2);
  font-size: 1.7rem;
  transition: color 0.2s ease;
}
header ul a:not(:last-child) {
  margin-right: 5.3rem;
}

header ul a:hover {
  color: var(--hover-color);
}

header .customRadioHolder {
  margin: 5px 0 5px;
  display: flex;
  gap: 1rem;
}

header .customRadioHolder .customRadioWrapper {
  position: relative;
}

header .customRadioHolder .customRadio {
  width: fit-content;
  position: relative;
  cursor: pointer;
  user-select: none;
  border-radius: 8px;
  padding: 10px;
  background-color: rgba(0, 0, 0, 0.16);
  color: rgba(255, 255, 255, 0.7);
  transition: color 300ms cubic-bezier(0.25, 0.8, 0.25, 1),
    background-color 300ms cubic-bezier(0.25, 0.8, 0.25, 1),
    box-shadow 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
  display: flex;
  height: 32px;
  align-items: center;
  outline: none;
  justify-content: center;
  min-width: 55px;
}

header .customRadioHolder .customRadio:hover {
  background-color: #2c2c2c;
  color: white;
}

header .customRadioHolder .customRadio img {
  margin-right: 0.3rem;
  width: 2rem;
}

header .customRadioHolder .customRadio .inner {
  font-size: 1.5rem;
  font-weight: 900;
  pointer-events: none;
  transition: transform 300ms cubic-bezier(0.25, 0.8, 0.25, 1);
  transform: translateY(0px);
}

/* Esconde os radio buttons originais */
header .customRadioHolder .customRadioInput {
  display: none;
}

/* Estilo para o radio button selecionado */
header
  .customRadioHolder
  .customRadioInput:checked
  + .customRadioWrapper
  .customRadio {
  background-color: #2d6737;
  color: white;
}

header
  .customRadioHolder
  .customRadioInput:checked
  + .customRadioWrapper
  .customRadio
  .inner {
  transform: translateY(-2px);
}

.header-logo {
  margin-top: 3px;
  margin-left: 10px;
  width: 4rem;
  border-radius: 8px;
}

.show {
  opacity: 1;
  pointer-events: all;
}

.home-area {
  padding: 30rem 0;
}

.home-area .container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 2rem;
}
.home-area .container .about-info h2 {
  font-size: 4.8rem;
  color: var(--text-color2);
  font-weight: 300;
}
.home-area .container .about-info h3 {
  font-size: 3.6rem;
  color: var(--text-color4);
  font-weight: 300;
  text-align: right;
  margin-right: -4rem;
  transition: margin-right 0.5s ease;
}
.home-area .container .about-info h3:hover {
  margin-right: -7rem;
}
.home-area .container .about-info p {
  margin-top: 3rem;
  max-width: 40rem;
  color: var(--text-color2);
  font-size: 1.7rem;
  font-weight: 200;
  line-height: 3rem;
}
.home-area .container .about-info a {
  margin-top: 3rem;
  margin-left: 30rem;
  cursor: pointer;
}
.home-area .container #logo-container {
  margin-top: -12rem;
  position: relative;
  /* width: 30%;
  height: 30%; */
  border-radius: 50%;
  overflow: hidden;
}
.home-area .container #logo-sobre {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.slidebar {
  width: 100%;
  height: 11.3rem;
  background: var(--main-color);
  display: flex;
  align-items: center;
  overflow: hidden;
}
.slidebar .icons {
  display: flex;
  position: relative;
  justify-content: space-between;
  animation: loop 25s linear infinite;
  transform: translate3d(0, 0, 0);
}
.slidebar .icons i {
  font-size: 7rem;
  color: var(--text-color2);
  margin-right: 10rem;
}

.projects {
  padding-top: 8rem;
  padding-bottom: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(90deg, #221f20 -8.33%, #050505 100%);
}
.projects h2 {
  color: var(--text-color1);
  font-size: 4rem;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 8rem;
}
.projects .project-card {
  display: flex;
  align-items: center;
  justify-content: left;
}
.projects .project-card:not(:last-child) {
  margin-bottom: 15rem;
}
.projects .project-card .card {
  width: 55rem;
  height: auto;
  /* height: 60vh; */
  border-radius: 1.5rem;
  background-color: #2d2d2d;
  filter: drop-shadow(0px 4px 4px #020202);
}
.projects .project-card .card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projects .project-card .project-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  margin: 2.6rem;
}
.projects .project-card .project-info .video-wrapper {
  width: 100%;
}
.projects .project-card .project-info .video-wrapper img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.projects .project-card .project-info .info {
  text-align: left;
  margin-top: 1rem;
}
.projects .project-card .project-info .info h3 {
  color: var(--text-color2);
  font-size: 2rem;
  font-weight: bold;
}
.projects .project-card .project-info .info .techs-right {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.projects .project-card .project-info .info .techs-right h4 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: var(--text-color4);
  text-transform: uppercase;
  margin-right: 1rem;
}
.projects .project-card .project-info .info .techs-right h5 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: var(--text-color4);
  text-transform: uppercase;
  margin-left: 1rem;
}
.projects .project-card .project-info .info .techs-right i {
  font-size: 4rem;
  color: var(--text-color4);
}
.projects .project-card .project-info .info .techs-right i:not(:last-child) {
  margin-right: 1.5rem;
}
.projects .project-card .project-info .info .techs-left {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.projects .project-card .project-info .info .techs-left h4 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: var(--text-color4);
  text-transform: uppercase;
  margin-right: 1rem;
}
.projects .project-card .project-info .info .techs-left h5 {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  color: var(--text-color4);
  text-transform: uppercase;
  margin-left: 1rem;
}

.projects .project-card .project-info .info .techs-left h4:last-of-type {
  color: white;
}

.projects .project-card .project-info .info .techs-right h5:last-of-type {
  color: white;
}

.projects .project-card .project-info .info .techs-left i {
  font-size: 4rem;
  color: var(--text-color4);
}
.projects .project-card .project-info .info .techs-left i:not(:last-child) {
  margin-right: 1.5rem;
}
.projects .project-card .project-info .info p {
  margin-top: 1rem;
  color: var(--text-color2);
  font-size: 1.7rem;
  max-width: 44rem;
}
.projects .project-card .project-info .buttons {
  margin-top: 3rem;
}
.projects .project-card .project-info .buttons a {
  padding: 1rem 4rem;
  font-size: 2rem;
  font-weight: 500;
}
.projects .project-card .project-info .buttons a:not(:last-child) {
  margin-right: 1.7rem;
  color: var(--text-color3);
  background: var(--text-color4);
}
.projects .project-card .project-info .buttons a:last-child {
  background-color: var(--background-color);
  color: var(--text-color2);
  border: 1px solid var(--text-color1);
  position: relative;
  z-index: 2;
  padding: 1rem 3rem;
}
.projects .project-card .project-info .buttons a:last-child::after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background: var(--text-color4);
  width: 0%;
  height: 100%;
  transition: 0.7s ease;
}
.projects .project-card .project-info .buttons a:last-child:hover::after {
  width: 100%;
}
.projects .side {
  justify-content: right;
  flex-direction: row-reverse;
}
.projects .side .project-info {
  margin: 2.6rem;
  align-items: flex-end;
}
.projects .side .project-info .info {
  text-align: right;
}

.contact {
  margin: 35rem 0;
}
.contact .container h2 {
  font-size: 4rem;
  color: var(--text-color2);
  font-weight: 300;
}
.contact .container a {
  font-size: 6rem;
  color: var(--text-color4);
  font-weight: 300;
  margin-top: 3rem;
  margin-left: 7rem;
  transition: margin-left 0.5s ease;
}
.contact .container a:hover {
  margin-left: 11rem;
}

footer {
  width: 100%;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .container {
  display: flex;
  align-items: center;
  justify-content: center;
}
footer .container .btn-scroll {
  display: flex;
  align-items: center;
  cursor: pointer;
}
footer .container .btn-scroll img {
  margin-right: 2rem;
}
footer .container .btn-scroll h4 {
  color: var(--text-color2);
  font-size: 2rem;
}

@media (max-width: 1000px) {
  .about-me .container .about-logo {
    max-width: 40rem;
  }
  .contact .container a {
    font-size: 4rem;
  }
}
@media (max-width: 860px) {
  .home-area {
    padding: 10rem 0;
  }

  .home-area .container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 2rem;
  }

  .about-info {
    display: flex;
    flex-direction: column;
  }

  .home-area .container .about-info a {
    margin-top: 3rem;
    margin-left: 15rem;
    cursor: pointer;
  }

  .home-area .container #logo-container {
    margin-top: 0;
  }

  .about-me .container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .about-me .container .about-logo {
    display: none;
  }
  .about-me .container .about-info {
    text-align: center;
  }
  .about-me .container .about-info h3 {
    text-align: center;
  }
  .about-me .container .about-info a {
    margin-left: 0;
  }
}
@media (max-width: 954px) {
  header .customRadioHolder {
    margin: 5px 0 5px;
    display: flex;
  }
  /* .projects .project-card .card {
    max-width: 20rem;
    height: 30rem;
  } */
  /* .projects .project-card .project-info .video-wrapper {
    max-width: 20rem;
    height: 12rem;
  } */
  .projects .project-card .project-info .video-wrapper img {
    object-fit: fill;
  }
  /* .projects .project-card .project-info .info p {
    font-size: 1.3rem;
  } */
  .contact .container a {
    font-size: 3rem;
  }
}
@media (max-width: 478px) {
  .home-area .container .about-info h3 {
    margin-right: 0;
  }
  .about-me .container .about-info h2 {
    font-size: 3.5rem;
  }
  .about-me .container .about-info h3 {
    font-size: 2.5rem;
  }
  .projects .project-card {
    flex-direction: column;
    justify-content: center;
  }
  .projects .project-card .card {
    width: auto;
    margin-bottom: 3rem;
  }
  .projects .project-card .project-info {
    flex-direction: column;
    align-items: center;
  }
  .projects .project-card .project-info .info {
    margin-top: 3rem;
    text-align: center;
  }
  .projects .project-card .project-info .info .techs {
    margin-top: 3rem;
    align-items: center;
    justify-content: center;
  }
  /* .projects .side .project-info {
    margin-right: 0;
  } */
  .projects .side .project-info .info .techs {
    margin-left: 0;
  }
  .contact .container {
    text-align: center;
  }
  .contact .container h2 {
    font-size: 2rem;
  }
  .contact .container a {
    font-size: 2.5rem;
    margin-left: 0;
  }
}
/* @media (max-width: 350px) {
  .home-area .container .about-info h3 {
    margin-right: -1rem;
  }
  .home-area .container .about-info a {
    margin-left: 11rem;
  }
  .contact .container {
    text-align: center;
  }
  .contact .container h2 {
    font-size: 1.5rem;
  }
  .contact .container a {
    font-size: 2rem;
  }
} */
@media (min-width: 955px) {
  .mobile-menu {
    display: none;
  }
}
